<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
  </head>
  <body>
      <h1> Dashboard</h1>,
    <div class="container">
    <img src="<%= user.image %>" alt="img">
    <p>Welcome <%= user.username %> .  <a href="/logout">Logout</a></p>
  
    </div>
  </body>
</html>
