<!DOCTYPE html>
<html>
  <head>
    <title>Secure Node.js App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
    <form action="/login" method="POST">
      <h3>Sing In</h3>
      <div class="input-box">
        <input type="text" class="user-input" name="username" placeholder="Username" required />
      </div>
      <div class="input-box">
         <input type="password" class="user-input" name="password" placeholder="Password" required />
      </div>
      <button type="submit" class="register">Login</button>
       <p>Create an Account ? <a href="/register"> Sign Up </a></p>
    </form>
    </div>
  </body>
</html>
